---
import Banner from '../components/Banner.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Offer from '../components/Offer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="TenBeltz" description="TenBeltz" canonical="https://tenbeltz.com">
	<main>
		<Header />
		<Hero />
		<Banner />
		<Offer />
	</main>
</Layout>

<style>
</style>
