---
import Banner from '@/components/Banner.astro';
import Divider from '@/components/Divider.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Offer from '@/components/Offer.astro';
import Footer from '@/components/Footer.astro';
import Layout from '@/layouts/Layout.astro';
import Contact from '@/components/Contact.astro';
import FAQ from '@/components/FAQ.astro';
import About from '@/components/About.astro';

import { Picture } from 'astro:assets';
import backgroundGradientPC from '/public/images/img/about-gradient-background-pc.png';
import backgroundGradientMobile from '/public/images/img/about-gradient-background-mobile.png';
---

<Layout	
	title="TenBeltz | Custom Software & AI Solutions for Business Growth"
	description="Discover how TenBeltz helps businesses grow with custom AI solutions and high-quality software tailored to your unique needs."
	canonical="https://tenbeltz.com"
>
	<Header />
	<main class="relative z-10 flex flex-col flex-1">
		<Hero />
		<Divider text="We connect innovation and technology to transform your business and take it to the next level." />
		<Offer />
		<Banner />
		<div class="relative bg-grid">
			<About />
			<FAQ />

			<Picture src={backgroundGradientPC} alt="" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 hidden object-cover w-full h-full -z-50 lg:block" />
			<Picture src={backgroundGradientMobile} alt="" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 object-cover w-full h-full -z-50 lg:hidden" />
		</div>
		<Divider text="Your Journey Begins with us. Reach Out Today!" />

		<Contact />
	</main>
	<Footer />
</Layout>

<style>
</style>
