---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Footer from '@/components/Footer.astro';
import Divider from '@/components/Divider.astro';
import Banner from '@/components/Banner.astro';
---

<Layout	
	title="TenBeltz | Services"
	description="Discover how TenBeltz helps businesses grow with custom AI solutions and high-quality software tailored to your unique needs."
	canonical="https://tenbeltz.com/services"
>
	<Header />
	<main class="relative z-10 flex flex-col flex-1 overflow-x-hidden">
		<Hero 
			title="What we offer"
			highlight="you"
			subtitle="We create tailored solutions that fit your business — so you can work more efficiently and grow faster." 
			buttonHref="/#contact-section" 
			buttonText="Let's turn your ideas into results" 
			animateHighlight={false}
			showCursor={false}
		/>
		
		<Divider text="We build custom tech that makes your day-to-day simpler and smarter. Solutions that adapt to your way of working." />
		<Banner 
			title="Descubre cómo impulsamos el crecimiento de otras marcas"
			paragraph="Explora nuestros casos de éxito, conoce las estrategias que han transformado negocios y visualiza cómo podemos desatar el potencial de tu empresa con soluciones personalizadas."
			buttonText="Ver portafolio"
			buttonHref=""
		/>
	</main>
	<Footer />
</Layout>