---
const { text } = Astro.props;
import { ScrollReveal } from "./ScrollReveal";
---

<div class="px-4 py-5 text-white bg-slate-950 lg:py-9 lg:px-12">
  <ScrollReveal client:load>
    <h3 class="text-2xl font-bold leading-7 text-center lg:leading-9 lg:font-medium lg:text-3xl">{text}</h3>
  </ScrollReveal>
</div>