---

---

<section class="flex flex-col items-center justify-center h-screen px-4 text-center text-white bg-purple-400 lg:px-16 gap-y-6">
  <h1 class="text-5xl font-extrabold lg:text-6xl">Improve your bussiness
    <span class="bg-gradient-to-r from-[#9238D6] to-[#11B2FC] bg-clip-text text-transparent">
      with AI
    </span>
  </h1>
  <h2 class="text-lg">TenBeltz enables you to develop high-quality software applications, customized to the specific needs of your business.</h2>
  <button class="rounded-md bg-pheromone-purple w-fit">
    <a href="#" class="block px-4 py-2 font-medium">Contact us</a>
  </button>
</section>