---
import { Image } from 'astro:assets';
import backgroundGradientPC from '/public/images/img/hero-gradient-background-pc.png';
import backgroundGradientMobile from '/public/images/img/hero-gradient-background-mobile.png';
---

<section class="relative flex flex-col items-center justify-center h-screen px-4 text-center text-white lg:px-16 gap-y-6">
  <h1 class="text-5xl font-extrabold lg:text-6xl">Improve your business
    <span class="bg-gradient-to-r from-[#9238D6] to-[#11B2FC] bg-clip-text text-transparent">
      with AI
    </span>
  </h1>
  <h2 class="text-lg">TenBeltz enables you to develop high-quality software applications, customized to the specific needs of your business.</h2>
  <button class="rounded-md bg-pheromone-purple w-fit">
    <a href="#contact-section" class="block px-4 py-2 text-lg font-medium leading-6">Contact us</a>
  </button>
  <Image src={backgroundGradientPC} alt="" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 object-cover w-full h-full -z-50" />
  <Image src={backgroundGradientMobile} alt="" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 object-cover w-full h-full -z-50 lg:hidden" />
</section>