---
import { ReactComponent as WebDevelopmentIcon } from '/public/images/svg/web-development-icon.svg';
import { ReactComponent as CustomSoftwareDevelopmentIcon } from '/public/images/svg/custom-software-development-icon.svg';
import { ReactComponent as AiIntegrationsIcon } from '/public/images/svg/ai-integrations-icon.svg';
import backgroundGradientPC from '/public/images/img/offer-gradient-background-pc.png';
import backgroundGradientMobile from '/public/images/img/offer-gradient-background-mobile.png';
import { Picture } from 'astro:assets';
import { ScrollReveal } from './ScrollReveal';

interface Service {
  logo: React.FC<React.SVGProps<SVGSVGElement>>;
  title: string;
  description: string;
  logoProps?: React.SVGProps<SVGSVGElement>;
}

const services: Service[] = [
  {
    logo: WebDevelopmentIcon,
    title: 'Web development',
    description: `We design and develop modern, tailored websites that align with your business needs. Our approach combines attractive design, optimal performance, and intuitive functionality to deliver the best user experience.`,
    logoProps: { width: 36, height: 36, fill: '#ffffff' },
  },
  {
    logo: CustomSoftwareDevelopmentIcon,
    title: 'Custom software development',
    description: `We build unique software solutions designed specifically to meet your company's goals and requirements. Whether you need internal tools or complete platforms, we guarantee customized results.`,
    logoProps: { width: 36, height: 36, fill: '#ffffff' },
  },
  {
    logo: AiIntegrationsIcon,
    title: 'AI integrations',
    description: `We implement advanced artificial intelligence solutions to optimize your processes, enhance decision-making, and elevate your business in the digital era.`,
    logoProps: { width: 36, height: 36, fill: '#ffffff' },
  },
]
---

<section id="offer" class="relative text-white bg-grid">
  <div class="flex flex-col items-center justify-center max-w-screen-xl px-4 py-20 mx-auto lg:px-16 lg:py-28">
    <ScrollReveal client:load>
      <h2 class="mb-20 text-4xl font-bold text-center">What we offer you</h2>
    </ScrollReveal>
    <div id="services" class="grid grid-cols-1 mb-10 lg:grid-cols-3 gap-x-9 gap-y-7">
      {services.map((service, index) => (
        <ScrollReveal client:load delay={index * 200}>
          <div class="flex flex-col h-full max-w-xs px-6 rounded-lg bg-blacklist/70 gap-y-4 py-7 border border-[#4A0386]">
            <div class="flex items-center justify-center">
              {service.logo ? (
                <service.logo {...(service.logoProps || {})} />
              ) : (
                <span>X</span>
              )}
            </div>
            <div class="flex items-center justify-center flex-1">
              <h3 class="text-xl font-semibold leading-6 text-center">{service.title}</h3>
            </div>
            <div class="flex items-center justify-center">
              <p class="text-sm leading-4 text-slate-300">{service.description}</p>
            </div>
          </div>
        </ScrollReveal>
      ))}
    </div>
    <a href="#" class="btn font-semibold leading-none border border-pheromone-purple text-pheromone-purple w-fit bg-pheromone-purple/20">View all services</a>
  </div>
  <Picture src={backgroundGradientPC} alt="backgroundGradientPC" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 hidden object-cover w-full h-full -z-50 lg:block" />
  <Picture src={backgroundGradientMobile} alt="backgroundGradientMobile" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 object-cover w-full h-full -z-50 lg:hidden" />
</section>