---
import { ScrollReveal } from './ScrollReveal';

export interface Props {
  title: string
  subtitle: string
  buttonHref?: string
  gridCols?: string
}

const {
  title,
  subtitle,
  buttonHref = '/#contact-section',
  gridCols = 'lg:grid-cols-5',
} = Astro.props;
---

<section class="flex flex-col max-w-6xl px-4 py-20 mx-auto lg:px-12 gap-y-14">
  <div class="flex flex-col text-center gap-y-7">
    <ScrollReveal client:load>
      <h3 class="text-4xl font-bold">{title}</h3>
    </ScrollReveal>
    <ScrollReveal client:load>
      <h4 class="font-medium">{subtitle}</h4>
    </ScrollReveal>
  </div>
  <div class={`grid gap-5 ${gridCols}`}>
    <slot /> 
  </div>
  <div class="flex items-center justify-center">
    <ScrollReveal client:load>
      <a href={buttonHref} class="text-white border border-berry-blackmail btn hover:bg-pheromone-purple/30 hover:border-pheromone-purple hover:button-glow">Let's talk about your project</a>
    </ScrollReveal>
  </div>
</section>