---
import Banner from './Banner.astro';
import ServiceCard from './ServiceCard.astro';
import ContactCTA from './ContactCTA.astro';

import { Picture } from 'astro:assets';

import { ReactComponent as GardenWorkflowOutline } from '@/assets/icons/garden-workflow-outline.svg';
import { ReactComponent as ThreeLightOutline } from '@/assets/icons/three-light-outline.svg';
import { ReactComponent as ProcessOutline } from '@/assets/icons/process-outline.svg';
import { ReactComponent as ChartLineOutline } from '@/assets/icons/chart-line-outline.svg';
import { ReactComponent as GlassesOutline } from '@/assets/icons/glasses-outline.svg';
import { ReactComponent as FileConvertionOutline } from '@/assets/icons/file-convertion-outline.svg';
import { ReactComponent as WebGridOutline } from '@/assets/icons/web-grid-outline.svg';
import { ReactComponent as ChartOutline } from '@/assets/icons/chart-outline.svg';
import { ReactComponent as ChatBubbleLeftOutline } from '@/assets/icons/chat-bubble-left-outline.svg';

import TopLeftGradientBackgroundPC from '/public/images/img/top-left-gradient-background-pc.png';
import TopLeftGradientBackgroundMobile from '/public/images/img/top-left-gradient-background-mobile.png';
---

<div class="text-white">
  <div class="flex flex-col">
    <div class="relative bg-grid">
      <div class="flex flex-col">
        <ServiceCard title="Custom Software Development" subtitle="Is your company falling behind with tools that don't work for you? Optimize your operations with custom software that adapts to your needs, allowing you to save time, increase efficiency, and grow without limits.">
          <div class="grid gap-5 lg:grid-cols-5">
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <GardenWorkflowOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Task Automation</h5>
                <h6 class="text-slate-300">Save time and resources by eliminating repetitive tasks with automated systems.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ThreeLightOutline width={32} height={32} fill='#E5C6F3' strokeWidth={1} stroke='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Tailored Solutions</h5>
                <h6 class="text-slate-300">Created to meet your unique processes and objectives.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ProcessOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Process Optimization</h5>
                <h6 class="text-slate-300">Improve your processes with solutions that enhance your efficiency.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ChartLineOutline width={32} height={32} fill='none' stroke='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Guaranteed Scalability</h5>
                <h6 class="text-slate-300">Receive a system that grows with you without affecting performance or creating technical limits.</h6>
              </div>
            </div>
          </div>
        </ServiceCard>
        <ServiceCard title="Web Development" subtitle="Is your company falling behind with tools that don't work for you? Optimize your operations with custom software that adapts to your needs, allowing you to save time, increase efficiency, and grow without limits.">
          <div class="grid gap-5 lg:grid-cols-2 lg-grid-rows-3">
            <div class="border flex flex-col gap-y-4 items-center justify-center transition-all rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <WebGridOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col text-center gap-y-3">
                <h5 class="text-lg font-bold">Responsive Design</h5>
                <h6 class="text-slate-300">Web design that adapts to all screens while maintaining quality and visual consistency.</h6>
              </div>
            </div>
            <div class="border flex flex-col gap-y-4 items-center justify-center transition-all rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <FileConvertionOutline width={32} height={32} fill='none' strokeWidth='2' stroke='#E5C6F3' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col text-center gap-y-3">
                <h5 class="text-lg font-bold">Conversion Optimization</h5>
                <h6 class="text-slate-300">We design your website to guide users and achieve conversions according to your goals.</h6>
              </div>
            </div>
            <div class="border flex items-center lg:col-span-full gap-x-4 transition-all rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <GlassesOutline width={32} height={32} fill='none' strokeWidth='2' stroke='#E5C6F3' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Integrated SEO</h5>
                <h6 class="text-slate-300">Increase your visibility on Google with a website ready to rank.</h6>
              </div>
            </div>
          </div>
        </ServiceCard>
        <ServiceCard title="AI Integrations" subtitle="Boost your efficiency with artificial intelligence. We connect AI to your systems to optimize processes and decisions. Take your business to a new level of precision and productivity.">
          <div class="grid gap-5 lg:grid-cols-5">
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ProcessOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Continuous Optimization</h5>
                <h6 class="text-slate-300">Make your business grow with AI that analyzes and improves processes.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <GardenWorkflowOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Process Automation</h5>
                <h6 class="text-slate-300">Integrate intelligent bots that perform repetitive tasks, optimizing operational flows effortlessly.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ChartOutline width={32} height={32} fill='none' stroke='#E5C6F3' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">More Accurate Decisions</h5>
                <h6 class="text-slate-300">Minimize errors with data processed in seconds, providing reliable and actionable insights for your business.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ChatBubbleLeftOutline width={32} height={32} fill='none' stroke='#E5C6F3' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Intelligent Customer Service</h5>
                <h6 class="text-slate-300">Enhance your customers' experience with virtual assistants.</h6>
              </div>
            </div>
          </div>
        </ServiceCard>
      </div>
      <Picture src={TopLeftGradientBackgroundPC} alt="backgroundGradientPC" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 hidden object-cover w-full -z-50 lg:block" />
      <Picture src={TopLeftGradientBackgroundMobile} alt="backgroundGradientMobile" aria-hidden="true" loading="eager" fetchpriority="high" class="absolute inset-0 object-cover w-full -z-50 lg:hidden" />
    </div>
    <Banner 
      title="Discover how we drive growth for other brands"
      paragraph="Explore our success stories, learn about the strategies that have transformed businesses, and see how we can unlock your company's potential with tailored solutions."
      buttonText="View portfolio"
      buttonHref=""
    />
    <div class="bg-grid">
      <div class="flex flex-col">
        <ServiceCard title="Mobile App Development" subtitle="Take your business to where your customers are, with an intuitive and functional app that meets your users' needs, improving interaction and facilitating ongoing communication.">
          <div class="grid gap-5 lg:grid-cols-5">
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <WebGridOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">User-Friendly Interface</h5>
                <h6 class="text-slate-300">Make every interaction smooth and intuitive, enhancing the experience and satisfaction of your users.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ThreeLightOutline width={32} height={32} fill='#E5C6F3' strokeWidth={1} stroke='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Push Notifications</h5>
                <h6 class="text-slate-300">Keep your users informed with direct messages from the app.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ProcessOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Cross-Platform Development</h5>
                <h6 class="text-slate-300">Reach more users with a functional app on Android, iOS, and more.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ChartLineOutline width={32} height={32} fill='none' stroke='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Integration with External Services</h5>
                <h6 class="text-slate-300">Provide your users with a seamless experience by connecting to external platforms like payment gateways.</h6>
              </div>
            </div>
          </div>
        </ServiceCard>
        <ServiceCard title="Internal Management Tools" subtitle="Is your company falling behind with tools that don't work for you? Optimize your operations with custom software that adapts to your needs, allowing you to save time, increase efficiency, and grow without limits.">
          <div class="grid gap-5 lg:grid-cols-2 lg-grid-rows-3">
            <div class="border flex flex-col gap-y-4 items-center justify-center transition-all rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <WebGridOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col text-center gap-y-3">
                <h5 class="text-lg font-bold">Report Automation</h5>
                <h6 class="text-slate-300">Generate automatic reports to make decisions with accurate data at the right moment.</h6>
              </div>
            </div>
            <div class="border flex flex-col gap-y-4 items-center justify-center transition-all rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <FileConvertionOutline width={32} height={32} fill='none' strokeWidth='2' stroke='#E5C6F3' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col text-center gap-y-3">
                <h5 class="text-lg font-bold">Project Management</h5>
                <h6 class="text-slate-300">Organize tasks, deadlines, and responsibilities to maintain a clear and efficient flow.</h6>
              </div>
            </div>
            <div class="border flex items-center lg:col-span-full gap-x-4 transition-all rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <GlassesOutline width={32} height={32} fill='none' strokeWidth='2' stroke='#E5C6F3' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Inventory Control</h5>
                <h6 class="text-slate-300">Monitor products in real-time and avoid losses or shortages.</h6>
              </div>
            </div>
          </div>
        </ServiceCard>
        <ServiceCard title="Cloud Services" subtitle="Access your data from anywhere, securely. With our cloud solutions, you will have access to your files and applications at all times, ensuring the security and flexibility your business needs to grow.">
          <div class="grid gap-5 lg:grid-cols-5">
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ProcessOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Remote Access</h5>
                <h6 class="text-slate-300">Connect securely and work from anywhere.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <GardenWorkflowOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Secure Storage</h5>
                <h6 class="text-slate-300">Protect your data with cloud backups and end-to-end encryption.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ChartOutline width={32} height={32} fill='none' stroke='#E5C6F3' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Easy Scalability</h5>
                <h6 class="text-slate-300">Expand your digital capacity without the need for infrastructure investment.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ChatBubbleLeftOutline width={32} height={32} fill='none' stroke='#E5C6F3' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Automatic Backup</h5>
                <h6 class="text-slate-300">Prevent losses with automatic and constant backups.</h6>
              </div>
            </div>
          </div>
        </ServiceCard>
        <ServiceCard title="Graphic Design" subtitle="Make your brand stand out with impacfgheggftful design. We help you create a visual identity that effectively communicates your message, highlighting your business with a professional and coherent design that attracts your audience.">
          <div class="grid gap-5 lg:grid-cols-5">
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <GardenWorkflowOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Design for Web and Mobile</h5>
                <h6 class="text-slate-300">Intuitive and modern interfaces that connect with your audience and your vision.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ThreeLightOutline width={32} height={32} fill='#E5C6F3' strokeWidth={1} stroke='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Brand Identity</h5>
                <h6 class="text-slate-300">Stand out with a strong and memorable visual identity.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-2 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ProcessOutline width={32} height={32} fill='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Image Redesign</h5>
                <h6 class="text-slate-300">Update your brand with a new style that reflects your evolution.</h6>
              </div>
            </div>
            <div class="border flex items-center gap-x-4 transition-all lg:col-span-3 rounded-lg py-6 px-4 bg-[#0B0122CC]/80 border-pheromone-purple/30  hover:border-blueberry-glaze hover:bg-gradient-to-bl from-[#340076]/80 hover:glow-20 hover:glow-[#7504cd] to-[#1D0043]/90 hover:[&>div:first-of-type]:bg-blueberry-glaze hover:[&>div:first-of-type]:glow-20 hover:[&>div:first-of-type]:glow-[#7504cd]">
              <div class="flex items-center justify-center p-1 transition-all rounded-full bg-pheromone-purple/30 hover:bg-blueberry-glaze hover:border-blueberry-glaze hover:bg-gradient-to-bl">
                <ChartLineOutline width={32} height={32} fill='none' stroke='#E5C6F3' />
              </div>
              <div class="flex flex-col gap-3">
                <h5 class="text-lg font-bold">Promotional Material Design</h5>
                <h6 class="text-slate-300">Create graphic pieces that communicate your message and stand out in any medium.</h6>
              </div>
            </div>
          </div>
        </ServiceCard>
      </div>
      <ContactCTA />
    </div>
  </div>
</div>