---
import { Image } from "astro:assets";
import image1 from "@/assets/images/image.png";
import image2 from "@/assets/images/image.png";
import image3 from "@/assets/images/image.png";
import image4 from "@/assets/images/image.png";
import image5 from "@/assets/images/image.png";
import image6 from "@/assets/images/image.png";
import image7 from "@/assets/images/image.png";
import image8 from "@/assets/images/image.png";

interface Card {
  image: ImageMetadata;
  alt: string;
}

const cards: Card[] = [
  { image: image1, alt: "Success story image" },
  { image: image2, alt: "Success story image" },
  { image: image3, alt: "Success story image" },
  { image: image4, alt: "Success story image" },
  { image: image5, alt: "Success story image" },
  { image: image6, alt: "Success story image" },
  { image: image7, alt: "Success story image" },
  { image: image8, alt: "Success story image" },
];

const spans: number[] = [6, 3, 6, 3, 4, 3, 3, 2];
---

<section id="portfolio" class="relative flex flex-col items-center justify-center py-20 text-white gap-y-20">
  <h2 class="text-4xl font-bold text-center">Success stories</h2>
  <div class="flex flex-col items-center justify-center w-full max-w-screen-xl overflow-hidden">
    <div class="grid w-max grid-cols-[repeat(5,_minmax(11rem,_1fr))] grid-rows-6 gap-5 h-80 relative">
      {cards.map((card, index) => (
        <div class={`overflow-hidden bg-gray-600 rounded-md row-span-${spans[index]}`}>
          <Image src={card.image} alt={card.alt} class="object-cover w-full h-full" />
        </div>
      ))}
    </div>
  </div>
  <div class="absolute w-full -bottom-4 h-52">
    <div class="inset-0 w-full h-28 bg-gradient-to-t from-black via-black/60 to-transparent"></div>
    <div class="inset-0 w-full h-24 bg-gradient-to-b from-black via-black/60 to-transparent"></div>
  </div>
</section>
