---
import "../styles/global.css";
import SEO from "@/components/SEO.astro"

interface Props {
	title: string
	description: string
	canonical?: string
}

const { title, description, canonical } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<SEO
			title={title}
			canonical={canonical}
			description={description}
		/>
<script defer src="https://umami.tenbeltz.com/script.js" data-website-id="91edd3ea-59e0-4eef-86b4-7bd11019e619"></script>	</head>
	<body class="flex flex-col min-h-screen overflow-x-hidden bg-obsidian-shard">
		<slot />
	</body>
</html>
<style is:global>
	html {
		scroll-behavior: smooth;
	}
</style>
